<!-- <h3>Enviamos tus sugerencias</h3>
<section class="col-3 container-contacto">
    <section class="form-group">
      <label for="men">Mensaje:</label>
      <textarea class="form-control" name="men" [(ngModel)]="mensaje"></textarea>
    </section>
    <input class="btn btn-primary" value="Enviar" (click)="EnviarMensaje()">
</section> -->

<section>
  <h1>Bienvenido al curso de angular</h1>
  <img src="https://play-lh.googleusercontent.com/qhV0NtKrkgNsTSKIjjqFSVkJpTibe5RBcrxb6y5te70EH5VZXGzd5dGUCkHIpHxq94hQ" alt="">
</section>
